{% extends 'base.html' %}

{% block content %}

<h1>These are the other Teams</h1>
<div class="card-container">
    {% for pokemon in viewTeams %}
    {% if viewTeams %}
    <div class="card mb-3" style="max-width: 600px; margin: 10px;">
        <div class="card-body">
            <h4 class="card-title"><strong>{{pokemon.name}}</strong></h4><br />
            {% if pokemon.ability2 %}
            <p class="card-text">Abilities: {{pokemon.ability}}, {{pokemon.ability2}}</p>
            {% else %}
            <p class="card-text">Abilities: {{pokemon.ability}}</p>
            {% endif %}
            <p class="card-text">Base Attack: {{pokemon.attack}}</p>
            <p class="card-text">Base HP: {{pokemon.hp}}</p>
            <p class="card-text">Base Defense: {{pokemon.defense}}</p>
            <figure class="pokemon-card-img-container">
                <figure class="pokemon-card-img1-container">
                    <img src="{{pokemon.pokemon_img}}" class="img-fluid rounded-start"
                        alt="picture of {{ pokemon.name }}">
                </figure>
            </figure>
            <br /><br />
            <p class="card-text"><small class="text-muted">Pokemon ID: {{pokemon.pokemon_id}}</small></p>
        </div>
    </div>
{% endif %}
{% endfor %}


</div>
{% endblock %}