
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid  ">
        <a class="navbar-brand" href="/">PokeBattle</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-5 nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/teams">View Teams</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/current_team">Current Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <p class="nav-link">Hello, {{ current_user.first_name.upper() }}</p>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
