<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body style="background-color: lightblue ;">
    {% include 'nav.html' %}
    {% block css %}

    {% endblock %}
    <form>
    <div class="card-container">
        <div class="card mb-3" style="max-width: 600px;">
                    <div class="card-body">
                        <h4 class="card-title"><strong>{{pokemonInfo.name}}</strong></h4><br/>
                        {% if pokemonInfo.ability2 %}
                        <p class="card-text">Abilities: {{pokemonInfo.ability}}, {{pokemonInfo.ability2}}</p>
                        {% else %}
                        <p class="card-text">Abilities: {{pokemonInfo.ability}}</p>
                        {% endif %}
                        <p class="card-text">Base Exp: {{pokemonInfo.base_exp}}</p>
                        <p class="card-text">Base Attack: {{pokemonInfo.attack_stat}}</p>
                        <p class="card-text">Base HP: {{pokemonInfo.hp_stat}}</p>
                        <p class="card-text">Base Defense: {{pokemonInfo.defense_stat}}</p>
                        <figure class="pokemon-card-img-container">
                        <figure class="pokemon-card-img1-container">
                        <img src="{{pokemonInfo.front_shiny}}" class="img-fluid rounded-start" alt="picture of {{ pokemonInfo.name }}">
                        <figcaption style="font-weight:bolder">SHINY {{ pokemonInfo.name.upper() }}</figcaption>
                        </figure>
                        <figure class="pokemon-card-img2-container">
                        <img src="{{pokemonInfo.default_img}}" class="img-fluid rounded-start" alt="picture of {{ pokemonInfo.name }}">
                        <figcaption style="font-weight:bolder">NORMAL {{ pokemonInfo.name.upper() }}</figcaption>
                        </figure>
                        </figure>
                        <br/><br/>
                        <p class="card-text"><small class="text-muted">Pokemon ID: {{pokemonInfo.id}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-to-team-button w-50">
        {{ addToTeamForm.submit(class='btn btn-primary w-50 mb-2', value='Add To Team') }}
    </div>  
</form> 
    <footer class="footer-container">
        <div class="signature">
            Made by Diante
        </div>
        
    </footer>
</body>

</html>